*{
margin:0; 
padding:0;
box-sizing: border-box;
font-family: arial;

}
#breadcrumb {
  padding: 30px 0px;
  background: #FBFBFC;
  border-bottom: 1px solid #E4E7ED;
  margin-bottom: 30px;
}

#breadcrumb .breadcrumb-header {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15px;
  text-transform: uppercase;
}
#top-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1E1F29;
  }
  
  .header-links li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
  }
  
  .header-links li:last-child {
    margin-right: 0px;
  }
  
  .header-links li a {
    color: #FFF;
  }
  
  .header-links li a:hover {
    color: #5f751c;
  }
  
  .header-links li i {
    color: #5f751c;
    margin-right: 5px;
  }
  
  /*----------------------------*\
      Logo
  \*----------------------------*/
  
  #header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f7f7f7;
  }
  
  .header-logo {
    float: left;
  }
  
  .header-logo .logo img {
    display: block;
  }
  
  /*----------------------------*\
      Search
  \*----------------------------*/
  
  .header-search {
    padding: 15px 0px;
  }
  
  .header-search form {
    position: relative;
  }
  
  .header-search form .input-select {
    margin-right: -4px;
    border-radius: 40px 0px 0px 40px;
  }
  
  .header-search form .input {
    width: calc(100% - 260px);
    margin-right: -4px;
  }
  
  .header-search form .search-btn {
    height: 40px;
    width: 100px;
    background: #5f751c;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
  }
  
  /*----------------------------*\
      Cart
  \*----------------------------*/
  
  .header-ctn {
    float: right;
    padding: 15px 0px;
  }
  
  .header-ctn>div {
    display: inline-block;
  }
  
  .header-ctn>div+div {
    margin-left: 15px;
  }
  
  .header-ctn>div>a {
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
  }
  
  .header-ctn>div>a>i {
    display: block;
    font-size: 18px;
  }
  
  .header-ctn>div>a>span {
    font-size: 12px;
  }
  
  .header-ctn>div>a>.qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #5f751c;
  }
  
  .header-ctn .menu-toggle {
    display: none;
  }
  
  .cart-dropdown {
    position: absolute;
    width: 300px;
    background: #FFF;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 0px 2px #E4E7ED;
    box-shadow: 0px 0px 0px 2px #E4E7ED;
    z-index: 99;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .dropdown.open>.cart-dropdown {
    opacity: 1;
    visibility: visible;
  }
  
  .cart-dropdown .cart-list {
    max-height: 180px;
    overflow-y: scroll;
    margin-bottom: 15px;
  }
  
  .cart-dropdown .cart-list .product-widget {
    padding: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .cart-dropdown .cart-list .product-widget:last-child {
    margin-bottom: 0px;
  }
  
  .cart-dropdown .cart-list .product-widget .product-img {
    left: 0px;
    top: 0px;
  }
  
  .cart-dropdown .cart-list .product-widget .product-body .product-price {
    color: #2B2D42;
  }
  
  .cart-dropdown .cart-btns {
    margin: 0px -17px -17px;
  }
  
  .cart-dropdown .cart-btns>a {
    display: inline-block;
    width: calc(50% - 0px);
    padding: 12px;
    background-color: #5f751c;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .cart-dropdown .cart-btns>a:first-child {
    margin-right: -4px;
    background-color: #1e1f29;
  }
  
  .cart-dropdown .cart-btns>a:hover {
    opacity: 0.9;
  }
  
  .cart-dropdown .cart-summary {
    border-top: 1px solid #E4E7ED;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  /*=========================================================
      03 -> Navigation
  ===========================================================*/
  
  #navigation {
    background: #FFF;
    border-bottom: 2px solid #E4E7ED;
    border-top: 3px solid #5f751c;
  }
  

body {
    background-color: whitesmoke;
    
}
a {
    text-decoration: none;
}
p {
    padding-left:5px;
    color:black;
    font-size: 15px;
}
h2 {
    font-family: sans-serif;
    font-size: 30px;
}
/*Coteúdo de navegação*/
.cabecalho {
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(121,121,121,.8);
}
.informacoes_cabecalho {
    display: flex;
    padding: 20px 20px;
    justify-content: space-around;
    width:60%;

}
.informacoes_cabecalho > div {
    display: flex;
}
.navbar_cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    width:100%;
    height: auto;
    padding:10px 20px;

}
.logo {
    width:220px;
    margin-left:30px;
}
.pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:380px;
    height: 30px;
    border: 1px grey solid;
    border-radius: 50px;
}
.container_pesquisa {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:70%;
}

.input {
    padding-left: 30px;
    width:340px;
    height: 80%;
    border:none;
    border-radius: 50px;
    outline:none;
    background-color: whitesmoke;
}
/*Conteudo principal*/
.container_main {
    margin-top:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu_navegacao {

    width: 20%;
    height: auto;
}


.mascote {
    width: 60px;
}
/*Menu lateral*/
.mainmenubtn {
    padding:20px;
    margin-top:20px;
    }
    

    
    .dropdown {
      position: relative;
      z-index: 1;
    }
    .dropdown-child {
    display: none;
    background-color: whitesmoke;
    min-width: 200px;
    
    }
    .dropdown-child a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    border:1px whitesmoke solid;
    border-radius: 50px;
    }
 
    .dropdown:hover .dropdown-child {
    display: block;
    
    }
    .dropdown-child a:hover{
        background-color: grey;
        color:white;
    }

    /*Criação dos perfis*/
    .perfil {
        display:grid;
        width: auto;
        max-width: 900px;
        gap:30px;
        grid-template-columns: repeat(auto-fit, minmax(420px, auto));
        
    }
    .container_grid {
    display:grid;
    width:100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;   
    border:1px gray solid;
    padding:20px; 
    position: relative;  
}

/*Organizando cada container*/
.container_grid > p{
  text-align: center;
  
}

.item1 {
    grid-column: 1/2;
    border-radius: 50px;
    border:1px grey solid;
    height: 100px;
}

.item2 {
    grid-column: 2/5;
    grid-row: 1/2;
    text-align: center;
    align-self: center;
}
.item3 {
  text-align: center;
  padding-top:8px;
}
.item4{
    grid-column: 2/5;
    grid-row:3/4;
    margin:30px auto;
}
.item5{
    grid-column: 2/5;
    grid-row:2/3;
    display: inline;
}

.foto_perfil {
  position:absolute;
    width:100px;
    height: 100px;
    border-radius: 50px;
}