*{
margin:0; 
padding:0;
box-sizing: border-box;
font-family: arial;

}

body {
    background-color: whitesmoke;
}
a {
    text-decoration: none;
}
p {
    padding-left:5px;
    color:black;
    font-size: 15px;
}
h2 {
    font-family: sans-serif;
    font-size: 30px;
}
/*Coteúdo de navegação*/
.cabecalho {
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(121,121,121,.8);
}
.informacoes_cabecalho {
    display: flex;
    padding: 20px 20px;
    justify-content: space-around;
    width:60%;

}
.informacoes_cabecalho > div {
    display: flex;
}
.navbar_cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    width:100%;
    height: auto;
    padding:10px 20px;

}
.logo {
    width:220px;
    margin-left:30px;
}
.pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:380px;
    height: 30px;
    border: 1px grey solid;
    border-radius: 50px;
}
.container_pesquisa {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:70%;
}

.input {
    padding-left: 30px;
    width:340px;
    height: 80%;
    border:none;
    border-radius: 50px;
    outline:none;
    background-color: whitesmoke;
}
/*Conteudo principal*/
.container_main {
    margin-top:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu_navegacao {

    width: 20%;
    height: auto;
}


.mascote {
    width: 60px;
}
/*Menu lateral*/
.mainmenubtn {
    padding:20px;
    margin-top:20px;
    }
    

    
    .dropdown {
    position: relative;
    display: inline-block;
    }
    .dropdown-child {
    display: none;
    background-color: whitesmoke;
    min-width: 300px;
    
    }
    .dropdown-child a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    border:1px whitesmoke solid;
    border-radius: 50px;
    }
 
    .dropdown:hover .dropdown-child {
    display: block;
    
    }
    .dropdown-child a:hover{
        background-color: grey;
        color:white;
    }

    /*Criação dos perfis*/
    .perfil {
        display:grid;
        width: auto;
        max-width: 900px;
        gap:30px;
        grid-template-columns: repeat(auto-fit, minmax(420px, auto));
        
    }
    .container_grid {
    display:grid;
    width:100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);    
    border:1px gray solid;
    padding:20px;   
}

/*Organizando cada container*/

.item1 {
    grid-column: 1/2;
    border-radius: 50px;
    border:1px grey solid;
    height: 80px;
}

