@media screen and (max-width:900px){
    .perfil {
        grid-template-columns: 1fr;
    }
    .container_main {
        flex-direction: column;
        align-items: center;
    }
    .item1{
        width:100px;
    }
    .item3 {
        width: 100px;
    }
    
}
@media screen and (max-width:1200px) {
    main {
        margin:0 auto;
    }
    .container_main {
        flex-direction: column;
        align-items: center;
    }
    .header-ctn {
        display:none;
    }
    .mascote {
        margin-left: 35px;
    }
    
    .perfil {
        margin-top:20px;
    }
}
@media screen and (max-width:600px) {
    .container_main {
        width: 100%;
        height: auto;
    }
    .container_grid {
        width: 92%;
        padding:0;
    }
    .foto_perfil {
        width: 90px;
        height: 90px;
    }
    .item1 {
        width:90px;
        height: 90px;
    }
    .menu_navegacao {
        width:80%;
    }
    .perfil {
        width:100%;
        margin-left:24px;
    }
}